@import './base.css';

.bg-primary {
  background-color: rgb(124, 10, 136) !important;
}
.bg-info {
  background-color: rgb(159, 20, 174) !important;
}


body{
  background-color: black;
  color: white;

}

.contenedor{
  min-width: 650px;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 150px;
  
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 4rem;
    font-weight: normal;
    background-color: rgba(52, 52, 218, 0.555);
    border-radius: 20px;
    box-shadow: 10px 10px 50px 15px rgb(32, 48, 59);
  }

  textarea{
    width: 250px;
    height: 100px ;
  }
  button{
    margin-top: 35px;
    width: 70px;
    height: 40px;
  }
  select{
    width: 40px;
    height: 25px;
  }