@import './base.css';

.bg-primary {
  background-color: rgb(124, 10, 136) !important;
}
.bg-info {
  background-color: rgb(159, 20, 174) !important;
}


body{
  background-color: black;
  color: white;

}


.mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 4rem;
    font-weight: normal;
    background-color: rgba(52, 52, 218, 0.555);
  }
